
  <table>

      <tr>
        <td>Name: </td> <td><%= f.text_field :name %> </td>
      </tr>

      <tr><td>Password: </td><td><%= f.password_field :password %></td></tr>

      <tr><td><br></td></tr>

      <tr><td>Height: </td> <td><%= f.text_field :height %></td> </tr>
      <tr><td>Happiness: </td><td><%= f.text_field :happiness %> </td></tr>
      <tr><td>Nausea: </td> <td><%= f.text_field :nausea %> </td></tr>
      <tr><td>Tickets: </td> <td><%= f.text_field :tickets %> </td></tr>
    </table>
    <br>
    <p><%= f.submit %></p>
