
  <p>Name: <%= f.text_field :name %> </p>
  <p>Password: <%= f.password_field :password %></p>

  <br>
  
  <p>Height: <%= f.text_field :height %> </p>
  <p>Happiness: <%= f.text_field :happiness %> </p>
  <p>Nausea: <%= f.text_field :nausea %> </p>
  <p>Tickets: <%= f.text_field :tickets %> </p>
  <%= f.submit %>
