<h2><%= @user.name %></h2>
<%= show_if_admin(@user) %>
<p>Height <%= @user.height %></p>
<p> Mood: <%= @user.mood %></p>
<p>Tickets: <%= @user.tickets %></p>
<p>Happiness: <%= @user.happiness %></p>
<p>Nausea: <%= @user.nausea %></p>
